<div class="row">
  <!-- <h5 class="col-md-10 mx-auto my-2 text-center font-weight-bold" *ngIf="!hasAny">Your cart is empty</h5>
  <div class="col-md-12 row d-flex flex-column w-50 mx-auto">
    <h1 class="col-md-12 mx-auto my-2 text-center font-weight-bold" *ngIf="hasAny">{{title}}</h1>
    <h5 class="col-md-12 mx-auto my-2 text-center font-weight-bold" *ngIf="hasAny">Total cost : Rs. </h5>
    <div class="col-md-4 mx-auto" *ngIf="hasAny">
      <a href="#" class="btn btn-success">CHECK OUT</a>
      <a href="#" class="btn btn-danger">CLEAR CART</a>
    </div>
  </div> -->
  <div class="col-md-10 mx-auto text-center mt-5">
    <div class="card rounded-0">
      <div class="card-header" *ngIf="hasAny">
        <h1 class="font-weight-bold">{{title}}</h1>
      </div>
      <div class="card-body">
        <h5 class="font-weight-bold" *ngIf="!hasAny">Your cart is empty</h5>
        <h5 class="font-weight-bold" *ngIf="hasAny">Total cost : Rs. {{totalCost}}</h5>
        <a [routerLink]="['/check-out', userId]" class="btn btn-success float-center mr-2 ml-2" *ngIf="hasAny">CHECK OUT</a>
        <a [routerLink]="" class="btn btn-danger float-center mr-2 ml-2 card-link" *ngIf="hasAny" (click)="clearCart()">CLEAR CART</a>
      </div>
    </div>
  </div>
  <div class="col-md-10 mx-auto" *ngFor="let cartItem of cartItems; let i=index">
    <div class="card text-center my-2">
      <div class="card-body">
        <h5 class="card-title">{{cartItem.name}}</h5>
        <p class="card-text text-monospace">Rs. {{cartItem.basicPrice}} for {{cartItem.basicQuantity}} {{cartItem.basicUnit}} </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Quantity : {{cartItem.quantity}} {{units[i]}}</li>
        <li class="list-group-item">Price : {{cartItem.price}}</li>
        <li class="list-group-item" *ngIf="cartItem.hasDiscount">{{discount[i]}}% Discount</li>
      </ul>
      <div class="card-body text-center">
        <a [routerLink]="['/cart-item',cartItem._id]" class="card-link">EDIT</a>
        <a (click)="deleteCartItem(cartItem._id)" [routerLink]="" class="card-link">DELETE</a>
      </div>
    </div>
  </div>
</div>