<div class="row">
  <div class="col-md-10 mx-auto mt-5 row d-flex flex-row ">
    <div class="col-md-6">
      <img [src]="foodItem.imageURL" alt="" style="width: 480px; height: 360px;">
    </div>
    <div class="d-flex flex-column col-md-6 my-auto">
      <h1>{{foodItem.name}}</h1><br>
      <h3>Rs. {{foodItem.price}} for {{foodItem.quantity}} {{foodItem.unit}} </h3>
      <form method="POST" class="form" (ngSubmit)="addToCart()">
        <div class="form-group">
          <label for="foodItemQuantity" class="form-label">Enter the quantity of the food</label>
          <input type="number" name="foodItemQuantity" id="" [value]="foodItem.quantity" class="form-control" (change)="onKey($event)" [(ngModel)]="quantity">
        </div>
        <div class="form-group row">
          <label for="price" class="col-sm-4 col-form-label">Current Price</label>
          <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="price" [value]="price">
          </div>
        </div>
        <button type="submit" class="btn btn-success">Add to Cart</button>
      </form>
    </div>
  </div>
</div>